.backButton {
  position: absolute;
  top:0;
  left:0;
}

.title {
    text-align:center;
}

.pTable{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}
    PlayerList{
        width:100%;
    }
.counter {
  position: absolute;
  top: 30%;
  left: 45%;
  font-size: 10rem;
  font-weight: bold;
  letter-spacing: -.025em;
}

.btnGroup {
  position: relative;
  top: 200px;
  width: 100%;
  margin: 0 auto;
  display:flex;
  justify-content:center;
  align-items:center;
}

.btn {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #fff;
  border-radius: 25%;
  margin: 10px 5px 10px 5px;
  width: 150px;
  height: 125px;
  opacity: .7;
  cursor: pointer;
  font-family: Arial, Helvetica, Helvetica Neue;
}
.btn_selected{
  font-size: 1.6rem;
  font-weight: bold;
  border:solid;
  border-radius: 25%;
  margin: 10px 5px 10px 5px;
  width: 150px;
  height: 125px;
  opacity: .7;
  font-family: Arial, Helvetica, Helvetica Neue;
  align-items:center;
}
    .btn_selected span{
        text-align:center;
    }
.btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
form{
    width:100%;
}
table {
    width: 100%;

}
.pCheck {
    /*display:none;*/
    cursor: pointer;
}
    .pCheck:checked + .pCheck label{
        background-color:blueviolet;
    }

    .pLabel{
        width:100%;
        display:inline-block;
        cursor:pointer;
    }

.pRow{
    width:100%;
    height:auto;
    font-size: 1.2em;
}
.pRowSelected{
    width:100%;
    height:auto;
     font-size: 1.2em;
    background:#FFFBCC;
}
td {
    font-size:1.5rem;
    margin: 15px;
    padding: 10px 0 10px 0;
    border-bottom:solid;
}